 <form action="<%= users_path%>" method="post" accept-charset="UTF-8">
    <%= label_tag(:email, "Email") %>
    <input type="email" name="user[email]"><br>

    <%= label_tag(:username, "Username") %>
    <input type="text" name="user[username]"><br>

    <%= label_tag(:password, "Password") %>
    <input type="password" name="user[password]">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="submit">
</form>